// Change the color of active menu items
.navbar .navbar-nav .nav-link.active,
.navbar .dropdown-item.active, .navbar .dropdown-item-active {
  color: #0A4C81 !important;
}

// Add extra space for people widget
.people-widget .section-heading {
  margin-bottom: 30px;
}

.people-person {
  margin-bottom: 30px;
}
